* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --sec1orange: #fd8f5f;
    --sec1navbar: #f2e1d9;
    --sec1greytone: #aba5ac;
    --sec1boldgreytone: #949494;
    --sec1black: #1b1b1b;
    --sec2white: #ffffff;
    --footerblueton: #1d2547;
}

/* ---------------- SECTION 1 ------------------ */
.section1 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 12fr;
    background-color: var(--sec1navbar);
}

.navbar1 {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 1fr 0.5fr;
}

.nav12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 7fr;
    align-items: center;
}
.nav12 > a {
    color: var(--sec1black);
    text-decoration: none;
    font-size: 12.5px;
    font-weight: bold;
    transition: 0.6s;
}

.nav13input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav13input input {
    color: var(--sec1black);
    background-color: var(--sec1navbar);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--sec1black);
    border-color: var(--sec1black) 1px;
    font-size: 12.5px;
}

.nav13input input:focus {
    outline: none;
}

.nav14 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav14 > a {
    color: var(--sec1black);
    font-size: 12.5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.6s;
}

.nav15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav15 > a {
    color: var(--sec1black);
    font-size: 15px;
}

.nav12 > a:hover, .nav14 > a:hover {
    color: var(--sec1orange);
}

.main1 {
    background-image: url(../images/sec1mainbackground.jpg);
    background-position: center;
    background-size: cover;
}

.mainbox1 {
    border: 1px solid var(--sec2white);
    background-color: var(--sec2white);
    height: 40%;
    width: 20%;
    padding: 3.5%;
    margin-top: 10%;
    margin-left: 15%;
}

.mainbox1 h3{
    color: var(--sec1greytone);
    font-size: 17.5px;
    margin-bottom: 10px;
}

.mainbox1 h1 {
    color: var(--sec1black);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 7.5px;
}

.mainbox1 p {
    color: var(--sec1boldgreytone);
    margin-bottom: 12.5px;
}

.mainbox1 button {
    color: var(--sec2white);
    background-color: var(--sec1orange);
    border: none;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 10px;
    transition: 0.6s;
}

.mainbox1 button:hover {
    cursor: pointer;
    border: 1px solid var(--sec1orange);
    color: var(--sec1orange);
    background-color: var(--sec2white);
}





/* ---------------- SECTION 2 ------------------ */
.section2 {
    height: 80vh;
    display: grid;
    grid-template-rows: 5fr 1fr 7fr;
    margin: 0 15% 0 15%;
    text-align: center;
}

.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 15% 0 15%;
    font-size: 15px;
    line-height: 25px;
}

.nav2 {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 3fr 3fr 3fr 3fr 5fr;
    grid-gap: 5px;
    margin: 0 6% 0 6%;
    text-align: center;
    border-bottom: 1px thin var(--sec1black);
}

.nav2 > a{
    color: var(--sec1black);
    text-decoration: none;
    font-weight: bold;
    transition: 0.6s;
}

.nav2 > a:hover {
    color: var(--sec1orange);
    border-bottom: 1px solid var(--sec1orange);
}

.sofas2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% -15% 0 -15%;
}

.sofas2 a {
    color: var(--sec1black);
    text-decoration: none;
    transition: 0.6s;
}





/* ---------------- SECTION 3 ------------------ */
.section3 {
    height: 65vh;
    display: grid;
    grid-template-columns: 8fr 7fr;
}

.box31 {
    background-image: url(../images/sec3mainimg.jpg);
    background-position: center;
    background-size: cover;
}

.box32 {
    padding: 15% 15% 0 12.5%;
    background-color: var(--sec1navbar);
}

.box32 h1, p {
    margin-bottom: 15px;
}

.box32 p {
    font-size: 12px;
    color: var(--footerblueton);
}

.box32 button {
    color: var(--sec2white);
    background-color: var(--sec1orange);
    border: none;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 10px;
    transition: 0.6s;
}

.box32 button:hover {
    cursor: pointer;
    border: 1px solid var(--sec1orange);
    color: var(--sec1orange);
    background-color: var(--sec2white);
}





/* ---------------- SECTION 4 ------------------ */





























